@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    BearziWebAgency<br />
    Udine, 33100, Italia<br />
    <abbr title="Phone">P:</abbr>
    0432-nonChiamare
</address>

<address>
    <strong>Support:</strong> <a href="mailto:luca.marchiol@bearzi.org">luca.marchiol@bearzi.org</a><br />
    <strong>Marketing:</strong> <a href="mailto:luca.marchiol@bearzi.org">luca.marchiol@bearzi.org</a>
</address>
